.banner-section h1{ 
  font-family: 'Josefin Sans', sans-serif;
  font-size: 45px !important;
  margin-bottom: 0;
  font-weight: 700;
}
.banner-section p,.about-section h2,.about-section h3,.about-section p{ 
  font-family: 'Josefin Sans', sans-serif;
}
.banner-section,.about-section{
  width: auto;
  height: auto;
}
/*About section*/
.about-section{
    padding-top: 45px;
}
.about-section .about-section2 h3{
    color: #C2C2C2;
    font-size: 16px;
    font-weight: 500;
}
.about-section .about-section1 .wp-block-image figcaption {
    color: #555 !important;
}
.about-section .about-section2 h2{
    color: #222;
    font-size: 28px;
    font-weight: 500;
    margin-bottom: 15px;
}
.about-section .block-editor-rich-text__editable.wp-block-button__link.has-white-color.has-text-color.has-background.rich-text{
    display: inline-block;
    color: #fff;
    background-color: #ffbf00;
    padding: 10px 20px;
    border-radius: 6px !important;
    line-height: 1;
}
.about-section .block-editor-rich-text__editable.wp-block-button__link.has-white-color.has-text-color.has-background.rich-text:hover{
    background:#222 !important;
}
